@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Lobster&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-shadow: .1rem .1rem .2rem #000000;
    color: #e3a25d;
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}


.container{
    width: 100vw;
    height: 100vh;
    background-image: url(/static/img/background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.logo{
    width: 22rem;
    position: absolute;
    left: 0rem;
}

h1{
    text-align: center;
}

main{
    margin-top: 7rem;
    margin-bottom:3rem;
    width: 70rem;
    display: flex;
    justify-content: space-between;
}

.description{
    text-align: justify;
    width: 46rem;
}

.links{
    width: 20rem;
    text-align: center;
}

li{
    margin-bottom: 1rem;
    text-align: left;
}

a:hover{
    text-decoration: underline;
}

i{
    margin-right: .5rem;
}

i:hover{
    cursor: pointer;
}

.back{
    width: 20rem;
    height: 5rem;
    border-radius: 50%;
    position: relative;
    background-color: #1d1c4c;
    border: .25rem solid #3b487f;
    color: #e3a25d;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: "Pixelify Sans", serif;
}

.back:hover {
    transform: scale(1.05);
}
