<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/about_us.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Lobster&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Sobre</title>
</head>
<body>
    <div class="container">
        <header>
            <img class="logo" src="/static/img/logo.png" alt="">
            <h1>SOBRE NÓS!</h1>
        </header>

        <main>
            <p class="description">O <b>ALFby</b> é um projeto voltado para auxiliar crianças no aprendizado da escrita, oferecendo uma interface acessível para professores acompanharem. A aplicação permite que as crianças desenhem letras, enquanto uma IA verifica se a forma corresponde ao caractere esperado, tornando o ensino mais inclusivo e interativo.</p>
            <div class="links">
                <ul><span><b>Desenvolvedores</b></span> <br> <br>
                    <li><a href="https://www.linkedin.com/in/vin%C3%ADciusmedina?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin fa-lg"></i></a> <a href="https://github.com/vinicius1med"><i class="fa-brands fa-github fa-lg"></i></a> <a href="https://www.linkedin.com/in/vin%C3%ADciusmedina?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Vinícius Medina</a></li>
                    <li><a href="https://www.linkedin.com/in/cayo-henrique-mercadante-veiga-1b04b9142/"><i class="fa-brands fa-linkedin fa-lg"></i></a> <a href="https://github.com/CandyDelChurros"><i class="fa-brands fa-github fa-lg"></i></a> <a href="https://www.linkedin.com/in/cayo-henrique-mercadante-veiga-1b04b9142/">Cayo Mercadante</a></li>
                    <li><a href="https://www.linkedin.com/in/taynaellen-souza/"><i class="fa-brands fa-linkedin fa-lg"></i></a> <a href="https://github.com/taynaellen"><i class="fa-brands fa-github fa-lg"></i></a> <a href="https://www.linkedin.com/in/taynaellen-souza/">Tayná Souza</a></li>
                </ul>
            </div>
        </main>
        <button class="back" data-route="{{ url_for('home') }}"><b>VOLTAR AO INÍCIO</b></button>
    </div>
    <script src="/static/script/navegation.js"></script>
</body>
</html>