<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/048f53145f.js" crossorigin="anonymous"></script>
    <title>Instruções</title>
    <link rel="stylesheet" href="../static/style/instructions.css">
</head>
<body>
    <div class="container">
        <div class="instructions">
            <img src="../static/img/mesa.png" alt="">
            <ul>
                <li><b><i class="fa-solid fa-caret-right"></i>PLUGUE A MESA DIGITALIZADORA</b></li>
                <li><b><i class="fa-solid fa-caret-right"></i>NAVEGUE ENTRE OS MÓDULOS</b></li>
                <li><b><i class="fa-solid fa-caret-right"></i>SELECIONE A LETRA DESEJADA</b></li>
            </ul>
        </div>
        <button class="start" data-route="{{ url_for('module') }}"> <b>CONTINUAR</b> </button>
    </div>
    <script src="/static/script/navegation.js"></script>
</body>
</html>