<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulos</title>
    <link rel="stylesheet" href="../static/style/modules.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>MÓDULOS</h1>
        <p>Selecione uma letra para começar a treinar a escrita:</p>
        <div class="letters">
            <div class="a" data-route="{{ url_for('module_a.module_a') }}">A</div>
            <div class="b" data-route="{{ url_for('module_b.module_b') }}">B</div>
            <div class="c" data-route="{{ url_for('module_c.module_c') }}">C</div>
            <div class="d" data-route="{{ url_for('module_d.module_d') }}">D</div>
            <div class="e" data-route="{{ url_for('module_e.module_e') }}">E</div>
            <div class="f" data-route="{{ url_for('module_f.module_f') }}">F</div>
            <div class="g" data-route="{{ url_for('module_g.module_g') }}">G</div>
            <div class="h" data-route="{{ url_for('module_h.module_h') }}">H</div>
            <div class="i" data-route="{{ url_for('module_i.module_i') }}">I</div>
            <div class="j" data-route="{{ url_for('module_j.module_j') }}">J</div>
            <div class="k" data-route="{{ url_for('module_k.module_k') }}">K</div>
            <div class="l" data-route="{{ url_for('module_l.module_l') }}">L</div>
            <div class="m" data-route="{{ url_for('module_m.module_m') }}">M</div>
            <div class="n" data-route="{{ url_for('module_n.module_n') }}">N</div>
            <div class="o" data-route="{{ url_for('module_o.module_o') }}">O</div>
            <div class="p" data-route="{{ url_for('module_p.module_p') }}">P</div>
            <div class="q" data-route="{{ url_for('module_q.module_q') }}">Q</div>
            <div class="r" data-route="{{ url_for('module_r.module_r') }}">R</div>
            <div class="s" data-route="{{ url_for('module_s.module_s') }}">S</div>
            <div class="t" data-route="{{ url_for('module_t.module_t') }}">T</div>
            <div class="u" data-route="{{ url_for('module_u.module_u') }}">U</div>
            <div class="v" data-route="{{ url_for('module_v.module_v') }}">V</div>
            <div class="w" data-route="{{ url_for('module_w.module_w') }}">W</div>
            <div class="x" data-route="{{ url_for('module_x.module_x') }}">X</div>
            <div class="y" data-route="{{ url_for('module_y.module_y') }}">Y</div>
            <div class="z" data-route="{{ url_for('module_z.module_z') }}">Z</div>
        </div>
        <button class="back" data-route="{{ url_for('home') }}"><b>VOLTAR AO INÍCIO</b></button>
    </div>
    <script src="/static/script/navegation.js"></script>
</body>

</html>