<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lousa Interativa</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/style/module_a.css" />
    <link rel="stylesheet" href="/static/style/module_i.css" />
  </head>
  <body>
    <div class="container">
      <canvas id="canvas"></canvas>
      <button id="back" class="btn-header" data-route="{{ url_for('module') }}">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <button
        id="restart"
        class="btn-header"
        data-route="{{ url_for('module_i.module_i') }}"
      >
        <i class="fa-solid fa-rotate-right"></i>
      </button>
      <div class="pop-up">
        <div class="pop-head">
          <span>TAREFA CONCLUIDA</span>
          <button data-route="{{ url_for('module') }}">
            <i class="fa-solid fa-house"></i>
          </button>
        </div>
        <div class="pop-main">
          <button data-route="{{ url_for('module_o.module_o') }}">
            Proximo
          </button>
          <button data-route="{{ url_for('module_i.module_i') }}">
            Recomeçar
          </button>
        </div>
      </div>
    </div>
    <script src="/static/script/module_i.js"></script>
    <script src="/static/script/navegation.js"></script>
  </body>
</html>
